[Unit]
Description=SendIP
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/sendip
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
